*{
    margin:0;
    padding:0;
}
.app-container {
  
}
.myProgress {
    width: 100%;
    background-color: grey;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
}  
.myBar {
    line-height: 20px;
    background-color: rgb(10, 233, 10);
}
.success{
    color: green;
}
.pending{
    color: rgb(13, 106, 211);
}
.danger{
    color: red;
}
.noteContainer{
    margin:2px auto;
    width: 90%;
}