.addFormContainer{
    position: fixed;
    bottom:5px;
    right:5px;
    padding:10px 25px;
    border:1px solid black;
    z-index: 2;
    background-color: #218F76;
    border-radius: 5px;
    color:#ffffff;
}
